@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    border-radius: 0 !important;
    overflow: visible !important;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv11';
}
  
body::-webkit-scrollbar {
  background-color: #0B1726;
  width: 0.75em;
}
