@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    border-radius: 0 !important;
    overflow: visible !important;
  }
}

body {
  font-family: var(--poppins-default);
  font-feature-settings: 'cv11';
}

body::-webkit-scrollbar {
  background-color: #0b1726;
  width: 0.75em;
}
